h4{

	text-align: left;

}
h2{
	background-color:black;
	color: red;
}
h3{	background-color:blue;
	color: white;
}
 
<ul>  
<li><a href="#home">Home</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
